<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>LunchBoxx</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='img/favicon.ico') }}" />

	<!-- Bootstrap Core CSS -->
	<link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- Semantic UI CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

	<!-- Custom Fonts -->

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/sb-admin.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/index_styles.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/create_profile_styles.css') }}" type="text/css">

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 row-md-4 row-md-offset-4">
				<div class="panel panel-default" style='margin-top: 20vh'>
					<div class="panel-heading">
						<strong>Create Profile</strong>
					</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form" method="POST">

							<!-- Email and password from login page -->
							<input name="email" value="{{ email }}" hidden/>
							<input name="password" value="{{ password }}" hidden/>

							<!-- Form Name -->
							<div class="form-group section">
								<label for="full-name" class="col-md-2">Name</label>
								<input name="firstName" class="col-md-5" placeholder="First Name" />
								<input name="lastName" class="col-md-5" placeholder="Last Name" />
							</div>

							<!-- Preferences -->
							<div class="form-group">
								<label for="default-preferences" class="preference-label">Preferences</label>
								<!-- Interests -->
								<div class="col-md-4 preference">
									<label for="interests" class="">Interests</label>
									<select name="interests" class="ui fluid search dropdown" multiple>
										{% for interest in interests %}
										<option value="{{interest}}">{{interest}}</option>
										{% endfor %}
									</select>
								</div>

								<!-- Food -->
								<div class="col-md-4 preference">
									<label for="food">Food</label>
									<select name="food" multiple class="ui fluid search dropdown">
										{% for food in foods %}
										<option value="{{food}}">{{food}}</option>
										{% endfor %}
									</select>
								</div>

								<!-- Time -->
								<div class="col-md-4 preference">
									<label for="lunch-time" class="">Lunch Time</label>
									<select name="lunch-time" class="ui fluid dropdown">
										<option value="10:00 AM">
											10:00 AM
										</option>
										<option value="10:30 AM">
											10:30 AM
										</option>
										<option value="11:00 AM">
											11:00 AM
										</option>
										<option value="11:30 AM">
											11:30 AM
										</option>
										<option value="12:00 PM">
											12:00 PM
										</option>
										<option value="12:30 PM">
											12:30 PM
										</option>
										<option value="1:00 PM">
											1:00 PM
										</option>
										<option value="1:30 PM">
											1:30 PM
										</option>
										<option value="2:00 PM">
											2:00 PM
										</option>
									</select>
								</div>
							</div>


							<!-- Address -->
							<div class="form-group">
								<label for="address-label" class="col-md-2 control-label">Address</label>
								<div class="col-md-10 ">
									<input name="address" class="form-control" placeholder="2000 Ultimate Way, Weston, FL" />
								</div>
							</div>
							<div class="form-group last">
								<div class="col-sm-offset-3 col-sm-9" align="right">
									<button type="submit" name="nextButton" value="back" class="btn btn-success btn-sm">Back</button>
									<button type="submit" name="nextButton" value="done" class="btn btn-success btn-sm">Create Profile</button>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-footer alert alert-danger {{hidden}}" role="alert">
						{{error}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(".ui.dropdown").dropdown();
	</script>
</body>

</html>