.color-pallate {
  color: #f8b195;
  color: #f67280;
  color: #c06c86;
  color: #6c5b7b;
  color: #355c7d;
}

.jumbotron {
  height: 100vh;
}

.vertical-center {
  display: flex;
  align-items: center;
}

header {
  padding: 50px 0 50px;
  background-image: url("../img/background2.jpg");
  background-size: cover;

}

section {
  padding: 150px 0;
}

.container {
	width: 100%;
	padding: 0;
}


.row {
	background-color: #FAFAFA;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

html {
	background-color: #FAFAFA;
}
